extends layout

block content
    h1.text-center.red 생존자 리스트

    table.table.table-bordered.table-battle
        colgroup
            col.face
            col.name
            col.groupName
            col.clubName
            col.killCount
            col.comment
        thead
            tr
                th.face 얼 굴
                th.name 이 름
                th.groupName 반/번호
                th.clubName 소속부
                th.killCount 살해수
                th.comment 코멘트
        tbody
            for user in survivors
                tr
                    td.face
                        img(src=user.userIcon alt='')
                    td.name #{user.username}
                    td.groupName #{user.groupName}<br />
                        if !user.userGender
                            | 남자
                        else
                            | 여자
                        | &nbsp;
                        | #{user.studentNo}번
                    td.clubName #{user.clubName}
                    td.killCount #{user.killCount}명
                    td.comment #{user.messageComment}
    p.text-center
        | 총 참가인원
        | #{userCount} 명
        | 【남은 인원 #{survivorCount}명】
