extends layout

block content
    h1.text-center.red 전학수속

    p.text-center(style='white-space:pre;')
        | &nbsp;
        | 『네가 전학생이지? 제가 담임입니다.
        | 학생들한테는,「잠자리」라고 불리고 있고.
        | 아, 쓸데없는 이야길 했군.
        | &nbsp;
        | 어쨋든, 여기에 이름과, 성별을 써서,
        | 제출해 줄래?

    include ./partial/alertMessage

    form(action='/signup', method='post')
        fieldset
            legend.red 전학 신청서
            div.form-group(class=(typeof errors.userGender === "undefined" ? "" : "has-error"))
                label 성별
                | #{typeof errors.userGender === "undefined" ? "" : '(' + errors.userGender + ')'}
                div.radio
                    label
                        input(type='radio', name='userGender', value='0',
                            checked=(0 == bodies.userGender ? 'checked' : undefined))
                        | 남성
                div.radio
                    label
                        input(type='radio', name='userGender', value='1',
                            checked=(1 == bodies.userGender ? 'checked' : undefined))
                        | 여성
            div.form-group(class=(typeof errors.userIcon === "undefined" ? "" : "has-error"))
                label 아이콘
                | #{typeof errors.userIcon === "undefined" ? "" : '(' + errors.userIcon + ')'}
                select.form-control(name='userIcon' id='userIcon')
                    each icon in gameIcons
                        option(value='#{icon.path}',
                            selected=(icon.path == bodies.userIcon ? 'selected' : undefined)) #{icon.name}
                div#iconPreview(style='padding:1em;')
        fieldset
            legend.red 접속시 사용되는 이름과 비밀번호 입니다.
            div.form-group(class=(typeof errors.username === "undefined" ? "" : "has-error"))
                label 이름
                | #{typeof errors.username === "undefined" ? "" : '(' + errors.username + ')'}
                input.form-control(type='text', name='username', placeholder='이름',
                    value=(typeof bodies.username !== 'undefined' ? bodies.username : undefined))
            div.form-group(class=(typeof errors.password === "undefined" ? "" : "has-error"))
                label 비밀번호
                | #{typeof errors.password === "undefined" ? "" : '(' + errors.password + ')'}
                input.form-control(type='password', name='password', placeholder='비밀번호')
            div.form-group(class=(typeof errors.passwordConfirm === "undefined" ? "" : "has-error"))
                label 비밀번호 확인
                | #{typeof errors.passwordConfirm === "undefined" ? "" : '(' + errors.passwordConfirm + ')'}
                input.form-control(type='password', name='passwordConfirm', placeholder='비밀번호 확인')
        fieldset
            legend.red 대사를 입력하여 주세요
            div.form-group(class=(typeof errors.message === "undefined" ? "" : "has-error"))
                label 대사 : 공격, 살해시의 대사
                | #{typeof errors.message === "undefined" ? "" : '(' + errors.message + ')'}
                input.form-control(type='text', name='message', placeholder='대사',
                    value=(typeof bodies.message !== 'undefined' ? bodies.message : undefined))
            div.form-group(class=(typeof errors.messageDying === "undefined" ? "" : "has-error"))
                label 유언 : 사망시 대사
                | #{typeof errors.messageDying === "undefined" ? "" : '(' + errors.messageDying + ')'}
                input.form-control(type='text', name='messageDying', placeholder='유언',
                    value=(typeof bodies.messageDying !== 'undefined' ? bodies.messageDying : undefined))
            div.from-group(class=(typeof errors.messageComment === "undefined" ? "" : "has-error"))
                label 자기어필 : 생존자 리스트에 나오는 멘트
                | #{typeof errors.messageComment === "undefined" ? "" : '(' + errors.messageComment + ')'}
                input.form-control(type='text', name='messageComment', placeholder='자기어필',
                    value=(typeof bodies.messageComment !== 'undefined' ? bodies.messageComment : undefined))
        hr
        button.btn.btn-warning.btn-lg.bg-red(type='submit') 제출

block content-footer
    script(src='//code.jquery.com/jquery-2.1.4.min.js')
    script(type='text/javascript').
        $(document).ready(function() {
            $('#userIcon').change(function(){
                var selectedValue = $('#userIcon option:selected').val();
                if ('' == selectedValue) {
                    $('#iconPreview').html('');
                } else {
                    $('#iconPreview').html('<img src="' + selectedValue + '" alt=""/>');
                }
            }).change();
        });